<!-- <section class="profile-page-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <app-profilenav></app-profilenav>
            </div>
            <div class="col-md-8">
                <div class="profile-shadow-box">
                    <h3>Change Password</h3>
                    <div class="row ">
                         <form [formGroup]="loginGroup" (submit)="changePassword()"> 
                        <div>
                            <mat-form-field class="form-group col-md-6">
                                <mat-label> New Password</mat-label>
                                <input matInput #input type="password" formControlName="password" placeholder="" required>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="form-group col-md-6">
                                <mat-label> Confirm Password</mat-label>
                                <input matInput #input type="password" formControlName="confirmPassword" placeholder="" required>
                            </mat-form-field>
                        </div>
                        <div class="mt-4 form-group text-center">
                            <button class="btn button btn-block w-50 mx-auto">Change Password</button>
                        </div>
                         </form> 

                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->


<!-- 
<section class="profile-page-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <app-profilenav></app-profilenav>
            </div>
            <div class="col-md-8">
                <div class="profile-shadow-box">
                    <h3>Change Password</h3>
                    <div class="row ">
                        <mat-form-field class="form-group col-md-6">
                            <mat-label> New Password</mat-label>
                            <input matInput #input type="password" placeholder="" required>
                        </mat-form-field>
                        <mat-form-field class="form-group col-md-6">
                            <mat-label> Confirm Password</mat-label>
                            <input matInput #input type="password" placeholder="" required>
                        </mat-form-field>
                        <div class="mt-4 form-group text-center">
                            <button class="btn button btn-block w-50 mx-auto">Change Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="profile-page-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <app-profilenav></app-profilenav>
            </div>
            <div class="col-md-8">
                <div class="profile-shadow-box">
                    <h3>Change Password</h3>
                    <form [formGroup]="frmSignup" (submit)="submit()">
                        <div class="row ">
                            <div class="col-md-6">
                                <mat-form-field class="form-group col-sm-12">
                                    <mat-label> New Password</mat-label>
                                    <input matInput formControlName="password" #input type="password" placeholder="" required>

                                </mat-form-field>
                                <div>
                                    <label class="pmc col">
                                    Password Must Contain
                                  </label>
                                </div>
                                <!-- <div>
                                    <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                                        Atleast 1 upper case letter(A-Z
                                  </label>
                                </div>
                                <div>
                                    <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                                        Atleast 1 lower case letter (a-z)
                                  </label>
                                </div>
                                <div>
                                    <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                                        Atleast 6 characters
                                  </label>
                                </div>
                                <div>
                                    <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                                        Atleast 1 number(0-9)
                                  </label>
                                </div> -->
                                <div>
                                    <label class="one">
                                      <span><img src="assets/images/vector 111.png"/></span>  Atleast 1 upper case letter(A-Z)
                                  </label>
                                </div>
                                <div>
                                    <label class="two">
                                        Atleast 1 lower case letter (a-z)
                                  </label>
                                </div>
                                <div>
                                    <label class="two col">
                                        Atleast 6 characters
                                  </label>
                                </div>
                                <div>
                                    <label class="two col">
                                        Atleast 1 number(0-9)
                                  </label>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="form-group col-sm-12">
                                    <mat-label> Confirm Password</mat-label>
                                    <input matInput #input type="password" formControlName="confirmPassword" placeholder="" required>
                                </mat-form-field>
                                <div>
                                    <!-- <label class="text-danger" *ngIf="frmSignup.controls['confirmPassword'].hasError('required')">
                                    Password is Required!
                                  </label> -->
                                </div>
                                <div>
                                    <label class="text-danger" *ngIf="frmSignup.controls['confirmPassword'].hasError('NoPassswordMatch')">
                                    Password do not match
                                  </label>
                                </div>

                            </div>
                           
                        </div>
                        <div class="mt-4 form-group text-center">
                            <button class="btn button btn-block w-50 mx-auto Change_password" >Change Password</button>
                        </div>
                    </form>



                </div>
            </div>
        </div>
    </div>
</section>