<section class="mic_infomation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="sub-heading-h3">Voice Command <a routerLink="/voice-results" class="loc-close"><i
              class="las la-times"></i></a></h3>
      </div>
    </div>
    <div class="row h-100 align-items-center">
      <div class="col-md-12">
        <div class="stories_info">
          <img src="../../assets/images/Ellipse628.png" alt="">
        </div>
        <div class="stories_informative">
          <h4><img src="assets/images/micfull.svg" class="img-fluid something_image" /> Speak Something...</h4>
        </div>

      </div>
    </div>
  </div>
  <div class="bottom_bellon">
    <img src="../../assets/images/Group19440.png" alt="">
  </div>
</section>
