<section class="location_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="sub-heading-h3">Select Country & Locatlity <a routerLink="/" class="loc-close"><i
                            class="las la-times"></i></a></h3>
            </div>
            <div class="col-md-3">
                <mat-form-field class="form-group w-100" floatLabel="always">

                    <mat-label> COUNTRY <span style="color: red;"> *</span></mat-label>
                    <mat-select class="" placeholder="Select Country">
                        <mat-option value="one"  *ngFor="let data of locationData">{{data.name}}</mat-option>
                        <!-- <mat-option value="two">Country 2</mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">

                <form class="example-form">
                
                <mat-form-field class="form-group w-100" floatLabel="always">
                    
                    <mat-label> Search By City or pincode<span style="color: red;"> *</span></mat-label>
                  
                    <input type="text"
                    placeholder="Enter City or Locality"
                    aria-label="Number"
                    matInput
                    [formControl]="myControl"
                    [matAutocomplete]="auto">

                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option   *ngFor="let city of CityData " [value]="city.name">{{city.name}}</mat-option>
                        <!-- <mat-option value="two">Country 2</mat-option> -->
                    </mat-autocomplete>

                </mat-form-field>
            </form>
            </div>
            <div class="col-md-1">
                <div class="location_search_icon">
                    <mat-label class="d-block">&nbsp;</mat-label>

                    <img class="img-fluid search_icon_info" src="assets/images/search-v.svg" alt="location-image">
                </div>
            </div>
            <div class="col-md-12">
                <h4 class="popular">Popular Cities</h4>
            </div>

            <div class="col-md-3 col-6 col-sm-6"  *ngFor="let city of CityData ">
                <div class="icon-location-box" >
                    <img class="img-fluid " [src]="city.dealImage" alt="location-image">
                    <h4>{{city.name}}</h4>
                </div>
            </div>
            <div class="col-md-3 col-6 col-sm-6">
                <div class="icon-location-box">
                    <img class="img-fluid " src="assets/images/Bengaluru.svg" alt="location-image">
                    <h4>Bengaluru</h4>
                </div>
            </div>

            <div class="col-md-3 col-6 col-sm-6">
                <div class="icon-location-box">
                    <img class="img-fluid " src="assets/images/chennai.svg" alt="location-image">
                    <h4>Chennai</h4>
                </div>
            </div>
            <div class="col-md-3 col-6 col-sm-6">
                <div class="icon-location-box">
                    <img class="img-fluid " src="assets/images/Mumbai.svg" alt="location-image">
                    <h4>Mumbai</h4>
                </div>
            </div>
            <div class="col-md-3 col-6 col-sm-6">
                <div class="icon-location-box">
                    <img class="img-fluid " src="assets/images/Kolkata.svg" alt="location-image">
                    <h4>Kolkata</h4>
                </div>
            </div>
            <div class="col-md-3 col-6 col-sm-6">
                <div class="icon-location-box">
                    <img class="img-fluid " src="assets/images/Jaipur.svg" alt="location-image">
                    <h4>Jaipur</h4>
                </div>
            </div>

            <div class="col-md-3 col-6 col-sm-6">
                <div class="icon-location-box">
                    <img class="img-fluid " src="assets/images/Delhi.svg" alt="location-image">
                    <h4>Delhi</h4>
                </div>
            </div>
            <div class="col-md-3 col-6 col-sm-6">
                <div class="icon-location-box">
                    <img class="img-fluid " src="assets/images/Ahmedabad.svg" alt="location-image">
                    <h4>Ahmedabad</h4>
                </div>
            </div>

        </div>
    </div>
</section>